.CRC_QS_view {
    position: absolute;
    background: #FFF;
    top: 0px;
    bottom: 5px;
    left: 1px;
    right: 0px;
    border: 1px solid #678;
    overflow: auto;
    padding: 0.4em;
    border-radius: 0 0 3px 3px;
}

.CRC_QS_view .accordion-button{
    padding: 0.2em;
    color: #212529;
    background: none;
    font-size: 0.45em;
    font-weight: 600;
}

.CRC_QS_view td {
    padding: 0.3em;
}

.CRC_QS_view .accordion-item {
    border: none
}

.CRC_QS_view .accordion-body {
    padding: 0.5em;
}

.CRC_QS_view .accordion-header:hover {
    background-color: #ececec;
}

.CRC_QS_view .computeTime {
    margin-left: 0;
    clear:both;
    line-height: 16px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.CRC_QS_view .queryRunningSpinner {
    height: 1.3em;
    width: 1.3em;
    margin-left: 0.3em;
}

.CRC_QS_view .breakdownStatus {
    color: #00dd00;
    margin-left: 0.3em;
}

.CRC_QS_view .breakdownValue {
    color: #0000dd;
}