.CRC_QR_view {
    position: absolute;
    background: #FFF;
    top: 0px;
    bottom: 5px;
    left: 1px;
    right: 0px;
    border: 1px solid #678;
    overflow: auto;
    padding: 0.4em;
    border-radius: 0 0 3px 3px;
}

.CRC_QR_view .action-bar {
    position: absolute;
    bottom: 0.4em;
}

.CRC_QR_view .patient-count {
    width: 50%;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;
    background: #CCCCCC;
    margin-top: 2em;
    padding: 1em;
}

.CRC_QR_view .patient-num {
    font-size: 3em;
    line-height: 1.3em;
}

.form-group {
    margin-bottom: 20px;
}

#crcModal .form-group {
    margin-bottom: 0.5em;
}

#crcModal .modal-footer {
    margin-top: 1em;
}

#crcModal .errorMsg{
    color: #f44336;
}

#crcModal .errorMsg.hidden{
    visibility: hidden;
}

#crcModal .modal-dialog,
#crcModal .modal-content,
#crcModal .modal-body{
    max-height: 40em;
}

#crcModal .modal-body {
    overflow-y: auto;
}

#crcModal .qtResultTypeHeader {
    padding: 0.6em 0.9em;
}

#crcModal .dataRequestMetadata {
    border: 1px solid #e9ebee;
    padding: 0.6em;
    margin-bottom: 1.1em;
    background-color: #f1f2f5;
}

#emailErrorMsg{
    margin-top: 0.3em;
    display: none;
}

#crcModal .RequestTypes, #crcModal .ResultTypes {
    overflow-wrap: break-word;
}

