body {
    font-family: arial, helvetica, verdana, sans-serif;
    margin: 1.8em;
}

.title {
    border-bottom: 1px solid #000000;
}

.sub-title {
    color-legacy_i2b2: #006699;
    color: #2782a3;
    border-bottom: 1px solid #2782a3;
}

.groups-container, .events-container, .eventlinks-container {
    margin-left: 3rem;
}

.eventlinks-container {
    border: 1px solid;
    background: aliceblue;
    padding: 0.6rem;
    text-align: center;
}

.eventlinks-container .line {
    border: solid;
    border-width: 1px 0;
    padding: 0.4rem;
}

.eventlinks-container .line.first {
    border-top: 0;
}
.eventlinks-container .line.last {
    border-bottom: 0;
}




.panel-definition {
    border: 1px solid black;
    margin-bottom: 2rem;
    background-color: #dcdbdb;
}
.panel-definition.not {
    background-color: #ad7070;
}

.event-title {
    font-weight: bold;
    padding: 0.5rem 0.5rem 0;
    margin-bottom: -0.5rem;
}

.item-container {
    background-color: white;
    margin: 1rem;
    padding: 0.5rem;
    line-height: 1.4rem;
}

.item-title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

.item-title img {
    margin-bottom: 0.3rem;
    vertical-align: middle;
    height: 100%;
}

.item-discript {
    font-weight: bold;
}


.joiner {
    font-weight: bold;
    font-style: italic;
}

.or {
    margin-left: 2rem;
}

.and {
    margin-top: -1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.results-chart {
    margin-bottom: 1rem;
}
.results-chart label {
    font-weight: bold;
    padding-left: 1rem;
    line-height: 3rem;
}
.results-chart table {
    margin: auto;
    min-width: 30%;
    border-collapse: collapse;
}
.results-chart table td {
    border: 1px solid black;
    padding: 0.3rem;
}

.results-graph {
    border-bottom: 1px solid #999999;
}
.results-graph svg {
    margin-left: 2rem;
    display: block;
    margin: auto;
}