.CRC_QR_view {
    position: absolute;
    background: #FFF;
    top: 0px;
    bottom: 5px;
    left: 1px;
    right: 0px;
    border: 1px solid rgba(0, 0, 0, .12);
    overflow: auto;
    padding: 0.4em;
    border-radius: 0 0 3px 3px;
}

.CRC_QR_view .action-bar {
    position: absolute;
    bottom: 0.4em;
}

.CRC_QR_view .patient-count {
    width: 50%;
    margin: auto;
    text-align: center;
    border: 1px solid #000000;
    background: #CCCCCC;
    margin-top: 2em;
    padding: 1em;
}

.CRC_QR_view .patient-num {
    font-size: 3em;
    line-height: 1.3em;
}

.form-group {
    margin-bottom: 20px;
}

#ontOptionsModal .modal-body {
    padding-right: 0;
    padding-left: 0;
}