.Event1Container.i2b2DropTarget,
.Event2Container.i2b2DropTarget {
    transition: background 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Event1Container.i2b2DropTarget.DropHover,
.Event2Container.i2b2DropTarget.DropHover,
.Event1Container .i2b2DropTarget.DropHover,
.CRC_QT_runbar .i2b2DropTarget.DropHover {
    background: #d1f0ff;
    box-shadow: 0 5px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

.i2b2DropTarget {
    position: relative;
}


.i2b2DropTarget.i2b2DropPrep:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.CRC_QT_view {
    position: absolute;
    background: #FFF;
    top: 0px;
    bottom: 0px;
    left: 1px;
    right: 0px;
}

.CRC_QT_view .CRC_QT_query {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3.4em;
    border: solid 1px rgba(99, 117, 140, 0.28);
    border-bottom: none;
    border-top: none;
    border-radius: 0 0 0 0;
}

.CRC_QT_view .CRC_QT_runbar {
    background: rgba(204, 194, 182, 0.6);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3.1em;
    padding: 0.7em 0 0 0;
    border-radius: 0 0 3px 3px;
    color: #2782a3;
    font-weight: bold;
    font-size: 1.1em;
    border: 1px solid rgba(39, 130, 163, 0.41);
}

.CRC_QT_view .CRC_QT_runbar .left {
    width: 4em;
    position: absolute;
    margin: 0.5em 0;
    left: 0.9em;
    top: 0;
    bottom: 0;
}

.CRC_QT_view .CRC_QT_runbar .center {
    position: absolute;
    left: 4.5em;
    right: 13.7em;
    bottom: 0;
    margin: 0.5em 0;
}

.CRC_QT_view .CRC_QT_runbar .right {
    position: absolute;
    width:13.5em;
    right: -0.05em;
    bottom: 0;
    top: 0;
    margin: 0.5em -7px;
    padding: 0.1em 0.3em;
}

.CRC_QT_view .CRC_QT_runbar input.name {
    width: 100%;
    margin: 0.2em 0 0 0;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, .12);
    height: 2.1em;
    border-radius: 0.2rem;
}

.CRC_QT_view .CRC_QT_runbar label {
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.CRC_QT_runbar .button {
    padding: .1em 1em 0 0;
}

.CRC_QT_runbar .button-run{
    padding: 0.22rem 0.4rem;
    line-height: 1.5em;
    margin-top: -0.1em;
    margin-right: 0.8em;
    color: #2782a3;
    background-color: #fff;
}


.CRC_QT_runbar .button-clear{
    margin-top: -0.1em;
    background-color: #fff;
    color: #be9566;
    border-color: #be9566;
    padding: 0.22rem 0.4rem;
    line-height: 1.5em;
}

.CRC_QT_runbar button:hover{
    opacity: 0.7;
    background-color: #2782a3;
    color: #fff;
}

.CRC_QT_runbar .button-clear:hover{
    opacity: 0.7;
    background-color: #be9566;
    color: #fff;
}

.CRC_QT_runbar .button-clear:active{
    border-color:#be9566;
}

.hoverover {
    display: none;
}
.expander {
    max-height: 1000px;
    transition: max-height 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}
.expander.hidden {
    max-height: 0 !important;
}
.DateOccursBody {
        text-align: center;
}
.DateOccursBody > div{
    padding: 1em 0em;
}
.DateOccursBody.expander {
    max-height: 10em;
}
.QueryGroup .DateRange1Body,
.QueryGroup .DateRange2Body {
    max-height: 10em;
}

.DateOccursBody > div {
    padding: 1em 0em;
}

.gj-datepicker {
    border-radius: 4px;
    border-width: 2px !important;
    border-color: red !important;
}

.gj-datepicker .btn-outline-secondary {
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.OccursCount {
    display: inline !important;
    width: 5em;
    text-align: center;
}

.QueryGroup {
    min-width: 20em;
    margin: 1em 2.3em 1em 2.3em;
}

.QueryGroup .topbar {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: none;
    z-index: 1
}

.QueryGroup .topbar .JoinText {
    width: 10em;
    border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    padding-left: 2.0em !important;
}
.QueryGroup .topbar .qgclose {
    border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
    -moz-border-radius: 0px 5px 0px 0px;
    padding-left: 4em !important;
}

.QueryGroup .topbar .JoinText,
.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when,
.QueryGroup .topbar .qgclose {
    display: inline-block;
    padding: 0.5em;
    height: 2.3em;
}

.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when,
.QueryGroup .topbar .qgclose i {
    cursor: default;
}
.QueryGroup.with .topbar .with,
.QueryGroup.with .topbar .without,
.QueryGroup.with .topbar .when,
.QueryGroup.with .topbar .qgclose i,
.QueryGroup.without .topbar .with,
.QueryGroup.without .topbar .without,
.QueryGroup.without .topbar .when,
.QueryGroup.without .topbar .qgclose i,
.QueryGroup.when .topbar .with,
.QueryGroup.when .topbar .without,
.QueryGroup.when .topbar .when,
.QueryGroup.when .topbar .qgclose i {
    cursor: pointer;
}

.QueryGroup .topbar .JoinText,
.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when,
.QueryGroup .topbar .qgclose,
.QueryGroup .body .leftbar {
    transition: background-color 0.3s ease;
}
.QueryGroup.when .SequenceBar,
.QueryGroup.when .topbar .JoinText,
.QueryGroup.when .topbar .with,
.QueryGroup.when .topbar .without,
.QueryGroup.when .topbar .when,
.QueryGroup.when .topbar .qgclose,
.QueryGroup.when .body .leftbar {
    background: #d8a407;
}
.QueryGroup.without .SequenceBar,
.QueryGroup.without .topbar .JoinText,
.QueryGroup.without .topbar .with,
.QueryGroup.without .topbar .without,
.QueryGroup.without .topbar .when,
.QueryGroup.without .topbar .qgclose,
.QueryGroup.without .body .leftbar {
    background: #ad7070;
}
.QueryGroup.with .SequenceBar,
.QueryGroup.with .topbar .JoinText,
.QueryGroup.with .topbar .with,
.QueryGroup.with .topbar .without,
.QueryGroup.with .topbar .when,
.QueryGroup.with .topbar .qgclose,
.QueryGroup.with .body .leftbar {
    background: #7ab893;
}

.QueryGroup.with .body .leftbar,
.QueryGroup.without .body .leftbar,
.QueryGroup.when .body .leftbar{
    display: block;
    border-top: none;
}

.QueryGroup .SequenceBar,
.QueryGroup .topbar .JoinText,
.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when,
.QueryGroup .topbar .qgclose,
.QueryGroup .body .leftbar
{
    border: 1px solid #ececec;
}



.QueryGroup .topbar .qgclose,
.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when{
    border-left: none;
}

.QueryGroup .topbar .JoinText,
.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when,
.QueryGroup .body .leftbar{
    border-right: none;
}

.QueryGroup .topbar .JoinText,
.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when,
.QueryGroup .topbar .qgclose{
    border-bottom: none;
}

.QueryGroup .body .leftbar{
    border-width: 1px 0 1px 1px;
    border-bottom-left-radius: 5px;
    display: none;
}


.QueryGroup.when .DateOccursLbl,
.QueryGroup.when .DateOccursBody {
    display:none;
}
.QueryGroup.when .DateRange1Body,
.QueryGroup.when .DateRange2Body,
.QueryGroup.when .SequenceBar {
    display: flex;
}

.QueryGroup.when .DateRange1Lbl,
.QueryGroup.when .DateRange2Lbl,
.QueryGroup .DateOccursLbl {
    border-radius: 0.3em;
    background: #cccccc;
    border: solid 1px black;
    display: inline-flex;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
}
.QueryGroup .DateRange1Lbl i.bi,
.QueryGroup .DateRange2Lbl i.bi,
.QueryGroup .DateOccursLbl i.bi {
    margin-left: 0.5em;
}


.QueryGroup.when .EventLbl {
    max-height: 2em;
}

.QueryGroup.when .Event1Container,
.QueryGroup.when .Event2Container {
    max-height: 30em;
    padding-bottom: 1em;
}
.QueryGroup .SequenceBar {
    transition: max-height 0.75s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.3s ease;
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.QueryGroup .EventLbl,
.QueryGroup .Event2Container {
    max-height: 0;
    transition: max-height 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}

.QueryGroup .Event1Container {
    border-bottom: none;
    padding-left: 2px;
}
.QueryGroup .Event1Container .EventLbl {
    position: relative;
    top: -1px;
}


.QueryGroup.when .SequenceBar {
    max-height: 2.3em;
    padding: 0.4em;
}

.QueryGroup.when .SequenceBar select.occurs {
    width: 8.5em;
}
.QueryGroup.when .SequenceBar select,
.QueryGroup.when .SequenceBar input {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: solid 1px black;
    background: none;
}
.QueryGroup.when .SequenceBar select {
    cursor: pointer;
}


.occursBefore,
.occursAtLeast {
    display: none;
}
.QueryGroup.when .SequenceBar.occursBefore span.occursBefore {
    display: inline;
}
.QueryGroup.when .SequenceBar.occursAtLeast span.occursAtLeast {
    display: inline;
}
.QueryGroup.when .SequenceBar .occursNumber {
    width: 2em;
    position: relative;
    top: -0.15em;
    text-align: center;
}




.DateRange1Lbl,
.DateRange1Body {
    display: none;
}

.EventLbl {
    background: #e6e6e6;
    height: 2em;
    width: 100%;
    text-align: right;
}

.QueryGroup .body {
    display: flex;
    clear: both;
}


.QueryGroup:hover .body{
    box-shadow: 0 5px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}


.QueryGroup .body .leftbar {
    float: left;
    width: 1.5em;
}

.QueryGroup .body .main {
    width:100%
}

.QueryGroup .body .main .content {
    border: 1px solid #ececec;
    border-top: 1px solid rgba(213, 212, 212, 0.48);
    width:100%;
    border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    -moz-border-radius: 0px 5px 5px 5px;
}

.QueryGroup .body .main .content .orDragAdditional {
    color: #878787;
    font-style: italic;
    margin: 0.9em 0.6em 0.6em 0.6em;
}

.QueryGroup .body .main .content .dragFirst {
    color: #878787;
    font-style: italic;
    margin: 3.2em 3em 1.6em 1.6em;
    padding-left: 0.5em;
}

.QueryGroup .with i,
.QueryGroup .without i,
.QueryGroup .when i {
    font-size: 0.9em;
    margin-right: 0.2em;
}
.QueryGroup .with i.sel,
.QueryGroup .without i.sel,
.QueryGroup .when i.sel,
.QueryGroup.with .with i.nosel,
.QueryGroup.without .without i.nosel,
.QueryGroup.when .when i.nosel {
    display: none;
}
.QueryGroup.with .with i.sel,
.QueryGroup.without .without i.sel,
.QueryGroup.when .when i.sel {
    display: inline;
}

.QueryGroup .RunDialogContainer > div {
    padding:0.5em;
}

.QueryGroup .RunDialogContainer .ResultTypes {
    border: 1px solid #ccc;
    height: 100%;
    overflow: auto;
    padding: 0.3em;
}

.QueryGroup .RunDialogContainer .ResultTypes div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



.TermList span {
    line-height: 1.6em;
    position: relative;
    top: 0.2em;
}
.TermList span img {
    vertical-align: text-bottom;
}
.TermList .termOr {
    width: 0.3em;
    display: inline-block;
    text-align: right;
    padding-left: 8px;
    margin-right: 15px;
}
.TermList .actions {
    margin-left: 0.75em;
}
.TermList .actions i {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.35s, margin-left 0.5s;
}
.TermList .concept:hover .actions i {
    opacity: 1;
    margin-left: .3em;
}

.dropDownSelect {
    color: #007bff;
    background: white;
}

.dropDownSelect:hover {
    background: #007bff;
    color: white;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle
{
    background: #007bff;
    color: #82a6b2;
}

/* === Lab Values Modal === */
#labHelpText{
    margin-bottom: 20px;
    text-align: center;
}

#labFlagValue {
    width: auto;
    max-height: 100px;
    overflow: auto;
}

.hidden {
    display: none;
}

.labTypeGroup {
    width: 160px;
    margin-right: 15px;
}

.labTypeFlagAndValues {
    display: flex;
    min-height: 100px;
}

#labNumericValueOperator{
    width: 260px;
    margin-bottom: 20px;
}

#labStringValueOperator{
    width: 170px;
    margin-bottom: 20px;
}

.labMain label {
    display: block;
    margin-bottom: 8px;
}

.labMain .input-group-text {
    margin-bottom: 0;
}


#labUnitExcluded{
    color:#900;
    margin-left: 20px
}

#labHeader {
    font-size: 1.0rem;
}

#labValuesModal .modal-dialog {
    min-width: 590px;
}

.labBarMain
{
    margin: 10px;
    text-align: center;
    border: 1px solid #000080;
    height: auto;
}

.labBar {
    height: 55px;
    width: 520px;
    display: flex;
    margin: 10px 5px 10px 5px;
}

.labBarItem {
    flex-grow: 1;
    flex-basis: 0;
}

#labUnitsLabel {
    font-style: italic;
    font-weight: bold;
}

.barLink {
    height: 15px;
    cursor: pointer;
}

.barLink:hover {
    opacity: 0.7;
}

.barLink:active {
    border: 1px solid #000080;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}
