#i2b2TreeviewQueryHistory, #i2b2TreeviewQueryHistoryFinder, #i2b2QueryHistoryFinderStatus, #i2b2QueryHistoryFinderMessage {
    background: #FFFFFF;
    border: solid 1px #63758c;
    border-top: 1px solid rgba(212, 105, 255, 0.18);
    overflow: auto;
    border-radius: 0 0 3px 3px;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 3.3em;
    left: 0;
    right: 0;
    height: auto;
}

#i2b2QueryHistoryFinderMessage{
    padding-top: 0.6em;
    padding-left: 0.9em;
}

#i2b2QueryHistoryFinderStatus {
    display: flex;
    justify-content: center;
    align-items: center;
}

#i2b2QueryHistoryFinder {
    position: absolute;
    top: 0;
    height: 2.9rem;
    border: solid #63758c;
    border-width: 1px 1px 0 1px;
    width: 100%;
    padding: 0.3em 0.8em;
    padding-bottom: 0.7em;
    background: rgba(235, 238, 238, 0.3);
    font-size: 0.98em;
    overflow: auto;
}

#i2b2QueryHistoryFinder .searchOptions {
    position: relative;
    align-items: center;
    display: flex;
    height: 100%;
}

#i2b2QueryHistoryFinder .searchTermMain{
    flex-grow: 1;
    min-width: 6.5rem;
}


#i2b2QueryHistoryFinder .searchFilter{
    padding: 0 0.8rem;
    margin-bottom: -5px;
}

#i2b2QueryHistoryFinder #querySearchFilterText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}

#i2b2QueryHistoryFinder #queryHistorySearchActions {
    min-width: 9rem;
    text-align: right;
}

#i2b2QueryHistoryFinder #queryHistorySearchActions button {
    width: 4rem;
    height: 2rem;
}

#i2b2QueryHistoryFinder #queryHistorySearchActions button:disabled {
    color: #444;
    background: #ccc;
}

#i2b2QueryHistoryFinder .form-control{
    margin-top: 0.8em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    box-shadow: none;
    background: transparent;
}

#i2b2QueryHistoryFinder button{
    display: inline-block;
}

button.invert{
    color: #0d6efd;
    background: #FFFFFF;
}

button.invert:hover{
    opacity: 0.7;
}

.hidden{
    display: none;
}

#i2b2QueryHistoryFinder .form-select-sm{
    font-size: 0.84em;
}

#i2b2QueryHistoryFinder .btn-sm{
    font-size: 0.89em;
}

#i2b2QueryHistoryFinder .form-control-sm{
    font-size: 1em;
    padding-left: 0.1em;
}

.form-check-input {
    border: 1px solid black;
    margin-top: 2px;
}

.form-check-inline {
    margin-top: 5px;
}

#i2b2QueryHistoryFinder .nav-link{
    color: #212529;
    margin-right: 0.2em;
}

#i2b2QueryHistoryFinder .dropdown-menu{
    font-size: 1em;
    position: fixed !important;
}

#i2b2QueryHistoryFinder .submenu{
    max-height: 18em;
    overflow-y: auto;
}

#i2b2QueryHistoryFinder .search{
    margin-right: 0.5em;
}

@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        top: -0.2em;
        padding-right: 0.2em;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu > li:hover {
        background-color: #f1f1f1
    }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu{
        margin-left:0.7rem;
        margin-right:0.7rem;
        margin-bottom: .5rem;
    }
}

#querySearchTerm .searchBtn{
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    font-size: 1.4em !important;
    margin-left: -5px;
    margin-top: 1px;
}

#querySearchTerm .searchBtn:hover{
    border-radius: 3px;
}

#querySearchTerm .searchActions {
    margin-top: 0.8em;
}

.clearIcon {
    font-size: 1.4em;
    border: none;
    border-radius: 0;
}

.clearIcon:hover {
    border-radius: 3px;
}

.clearIconMain {
    border-bottom: 1px solid gray;
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
}

.invisible {
    visibility: hidden;
}
