.event.i2b2DropTarget {
    transition: background 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.event.i2b2DropTarget.DropHover,
.event .i2b2DropTarget.DropHover,
.CRC_QT_runbar .i2b2DropTarget.DropHover {
    background: #d1f0ff;
    box-shadow: 0 5px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

.i2b2DropTarget {
    position: relative;
}

/* hack to make proper drop occur on parent element and not children */
.i2b2DropTarget.i2b2DropPrep:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.CRC_QT_view {
    position: absolute;
    background: #FFF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.CRC_QT_view .CRC_QT_query {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3.4em;
    border: solid 1px rgba(99, 117, 140, 0.28);
    border-bottom: none;
    border-top: none;
    border-radius: 0 0 0 0;
}

.CRC_QT_view .CRC_QT_runbar {
    background: rgba(204, 194, 182, 0.6);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3.1em;
    padding: 0.7em 0 0 0;
    border-radius: 0 0 3px 3px;
    color: #2782a3;
    font-weight: bold;
    font-size: 1.1em;
    border: 1px solid rgba(39, 130, 163, 0.41);
}

.CRC_QT_view .CRC_QT_runbar .left {
    width: 4em;
    position: absolute;
    margin: 0.5em 0;
    left: 0.9em;
    top: 0;
    bottom: 0;
}

.CRC_QT_view .CRC_QT_runbar .center {
    position: absolute;
    left: 4.5em;
    right: 13.7em;
    bottom: 0;
    margin: 0.5em 0;
}

.CRC_QT_view .CRC_QT_runbar .right {
    position: absolute;
    width:13.5em;
    right: -0.05em;
    bottom: 0;
    top: 0;
    margin: 0.5em -7px;
    padding: 0.1em 0.3em;
}

.CRC_QT_view .CRC_QT_runbar input.name {
    width: 100%;
    margin: 0.2em 0 0 0;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, .3);
    height: 2.1em;
    border-radius: 0.2rem;
    padding-left: 0.4em;
}

.CRC_QT_view .CRC_QT_runbar label {
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.CRC_QT_runbar .button {
    padding: .1em 1em 0 0;
}

.CRC_QT_runbar .button-run{
    padding: 0.22rem 0.4rem;
    line-height: 1.5em;
    margin-top: -0.1em;
    margin-right: 0.8em;
    color: #2782a3;
    background-color: #fff;
}


.CRC_QT_runbar .button-clear{
    margin-top: -0.1em;
    background-color: #fff;
    color: #be9566;
    border-color: #be9566;
    padding: 0.22rem 0.4rem;
    line-height: 1.5em;
}

.CRC_QT_runbar button:hover{
    opacity: 0.7;
    background-color: #2782a3;
    color: #fff;
}

.CRC_QT_runbar .button-clear:hover{
    opacity: 0.7;
    background-color: #be9566;
    color: #fff;
}

.CRC_QT_runbar .button-clear:active{
    border-color:#be9566;
}

.hoverover {
    display: none;
}
.expander {
    max-height: 1000px;
    transition: max-height 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}
.expander.hidden {
    max-height: 0 !important;
}


/* Dates and Occurs */
.DateOccursBody > div{
    padding: 0.4em 0em 1em 0em;
}

.DateOccursBody.expander {
    max-height: 10em;
}

.DateOccursBody .dateRange{
    display: flex;
    width: 15em;
}

.QueryGroup .DateRangeBody {
    max-height: 10em;
}

.gj-datepicker {
    border-radius: 4px;
    border-width: 2px !important;
    border-color: red !important;
}

.gj-datepicker .btn-outline-secondary {
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.OccursCount {
    display: inline !important;
    width: 5em;
    text-align: center;
}

.refreshStartDate,
.refreshEndDate{
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.67);
    padding: 0.2em 0.2em 0.2em 0.6em;
}

.refreshStartDate:focus,
.refreshEndDate:focus{
    box-shadow: none !important;
}

.refreshStartDate:hover,
.refreshEndDate:hover{
    background: none !important;
    color: #2782a3;
}



/* Query Group Top Bar formatting */
.QueryGroup .topbar {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: none;
    z-index: 1
}

.QueryGroup .with i,
.QueryGroup .without i,
.QueryGroup .when i {
    font-size: 0.9em;
    margin-right: 0.2em;
}

.QueryGroup .with i.sel,
.QueryGroup .without i.sel,
.QueryGroup .when i.sel,
.QueryGroup.with .with i.nosel,
.QueryGroup.without .without i.nosel,
.QueryGroup.when .when i.nosel {
    display: none;
}

.QueryGroup.with .with i.sel,
.QueryGroup.without .without i.sel,
.QueryGroup.when .when i.sel {
    display: inline;
}

.QueryGroup .topbar .JoinText {
    width: 10em;
    border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    padding-left: 2.0em !important;
}
.QueryGroup .topbar .qgclose {
    border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
    -moz-border-radius: 0px 5px 0px 0px;
    padding-left: 4em !important;
}

.QueryGroup .topbar .JoinText,
.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when,
.QueryGroup .topbar .qgclose {
    display: inline-block;
    padding: 0.5em;
    height: 2.3em;
}

.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when,
.QueryGroup .topbar .qgclose i {
    cursor: default;
}
.QueryGroup.with .topbar .with,
.QueryGroup.with .topbar .without,
.QueryGroup.with .topbar .when,
.QueryGroup.with .topbar .qgclose i,
.QueryGroup.without .topbar .with,
.QueryGroup.without .topbar .without,
.QueryGroup.without .topbar .when,
.QueryGroup.without .topbar .qgclose i,
.QueryGroup.when .topbar .with,
.QueryGroup.when .topbar .without,
.QueryGroup.when .topbar .when,
.QueryGroup.when .topbar .qgclose i {
    cursor: pointer;
}

.QueryGroup .topbar .JoinText,
.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when,
.QueryGroup .topbar .qgclose,
.QueryGroup .body .leftbar {
    transition: background-color 0.3s ease;
}
.QueryGroup.when .SequenceBar,
.QueryGroup.when .topbar .JoinText,
.QueryGroup.when .topbar .with,
.QueryGroup.when .topbar .without,
.QueryGroup.when .topbar .when,
.QueryGroup.when .topbar .qgclose,
.QueryGroup.when .body .leftbar {
    background: #d8a407;
}
.QueryGroup.without .SequenceBar,
.QueryGroup.without .topbar .JoinText,
.QueryGroup.without .topbar .with,
.QueryGroup.without .topbar .without,
.QueryGroup.without .topbar .when,
.QueryGroup.without .topbar .qgclose,
.QueryGroup.without .body .leftbar {
    background: #ad7070;
}
.QueryGroup.with .SequenceBar,
.QueryGroup.with .topbar .JoinText,
.QueryGroup.with .topbar .with,
.QueryGroup.with .topbar .without,
.QueryGroup.with .topbar .when,
.QueryGroup.with .topbar .qgclose,
.QueryGroup.with .body .leftbar {
    background: #7ab893;
}

.QueryGroup.with .body .leftbar,
.QueryGroup.without .body .leftbar,
.QueryGroup.when .body .leftbar{
    display: block;
    border-top: none;
}

.QueryGroup.with .SequenceBar,
.QueryGroup.without .SequenceBar {
    border: 0;
}

.QueryGroup .SequenceBar:last-of-type {
    display: none !important;
}


.QueryGroup .SequenceBar,
.QueryGroup .topbar .JoinText,
.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when,
.QueryGroup .topbar .qgclose,
.QueryGroup .body .leftbar
{
    border: 1px solid #ececec;
}

.QueryGroup .topbar .qgclose,
.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when{
    border-left: none;
}

.QueryGroup .topbar .JoinText,
.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when,
.QueryGroup .body .leftbar{
    border-right: none;
}

.QueryGroup .topbar .JoinText,
.QueryGroup .topbar .with,
.QueryGroup .topbar .without,
.QueryGroup .topbar .when,
.QueryGroup .topbar .qgclose{
    border-bottom: none;
}

.QueryGroup .body .leftbar{
    border-width: 1px 0 1px 1px;
    border-bottom-left-radius: 5px;
    display: none;
}



/* Date Ranges */
.QueryGroup.when .DateOccursLbl,
.QueryGroup.when .DateOccursBody {
    display:none;
}
.QueryGroup.when .DateRangeBody {
    display: flex;
}

.QueryGroup.when .DateRangeLbl,
.QueryGroup .DateOccursLbl {
    border-radius: 0.3em;
    display: inline-flex;
    padding: 0.5em;
    margin: 0.5em 0.5em 0.5em 0.19em;
    cursor: pointer;
    font-size: 0.95em;
    color: #2782a3;
}

.QueryGroup.when .DateRangeLbl:hover,
.QueryGroup .DateOccursLbl:hover {
    background: rgba(114, 109, 109, 0.22);
}

.QueryGroup .DateRangeLbl i.bi,
.QueryGroup .DateOccursLbl i.bi {
    margin-left: 0.5em;
}

.QueryGroup.when .EventLbl {
    max-height: 2em;
}

.QueryGroup.when .EventLbl.first {
    border-radius: 0 6px 0 0;
}


/* Query Group events */
.QueryGroup.when .event {
    max-height: 30em;
    padding-bottom: 1em;
}

.QueryGroup.when .event.toHide {
    max-height: 150em;
}

.QueryGroup .event {
    border-bottom: none;
    transition: max-height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}

.QueryGroup .event.toHide {
    max-height: 0;
    overflow: hidden;
}

.QueryGroup .EventLbl {
    max-height: 0;
}

.QueryGroup .event .EventLbl {
    position: relative;
    top: -1px;
    transition: max-height 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}

.QueryGroup.when .EventLbl div {
    float:left;
    margin:4px 10px;
}

.QueryGroup.when .EventLbl i {
    float: right;
    margin: 0 10px;
    font-size: 1.2em;
    position: relative;
    top: 0.4em;
}



/* Sequence Bar */
.QueryGroup .SequenceBar {
    transition: max-height 0.75s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.3s ease;
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.QueryGroup.when .SequenceBar {
    max-height: 6.3em;
    padding: 0.4em;
    border-right: 1px solid #d8a407;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px solid #d8a407;
    line-height: 1.6em;
    font-size: 1em;
}

.QueryGroup.when .SequenceBar select.occurs {
    width: 8.5em;
}

.QueryGroup.when .SequenceBar select,
.QueryGroup.when .SequenceBar .timeSpanValue {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid black;
    background-color: transparent;
    border-radius: 0;
    display: inline-block;
}

.QueryGroup.when .SequenceBar select {
    cursor: pointer;
    color: #0000ff;
    width: auto;
    padding-bottom: 0;
}

.QueryGroup.when .SequenceBar select:disabled {
    color: rgba(0, 0, 255, 0.62) !important;
}

.QueryGroup.when .SequenceBar .spacing {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.QueryGroup.when .SequenceBar .timeSpanValue {
    width: 3.5em;
    min-height: 1.5em;
    height: 1.5em;
}

.QueryGroup.when .SequenceBar .timeSpan {
    display: inline-block;
}

.QueryGroup.when .SequenceBar .form-check-inline {
    margin-right: 0;
}

.QueryGroup .disabled {
    cursor: not-allowed! important;
    color: rgba(33, 37, 41, 0.47);
}

/* Occurs */
.occursBefore,
.occursAtLeast {
    display: none;
}

.QueryGroup.when .SequenceBar.occursBefore span.occursBefore {
    display: inline;
}

.QueryGroup.when .SequenceBar.occursAtLeast span.occursAtLeast {
    display: inline;
}

.QueryGroup.when .SequenceBar .occursNumber {
    width: 2em;
    position: relative;
    margin-left: 0.25rem;
    text-align: center;
}



/* Date Ranges */
.DateRangeLbl,
.DateRangeBody {
    display: none;
}

.EventLbl {
    background: #e6e6e6;
    height: 2em;
    width: 100%;
    text-align: right;
}


/* Query Group */
.QueryGroup {
    min-width: 20em;
    margin: 1em 2.3em 1em 2.3em;
}

.QueryGroup .body {
    display: flex;
    clear: both;
    transition: box-shadow 200ms ease;
    border-radius: 4px;
}

.QueryGroup .body .main {
    width:100%
}

.QueryGroup:hover .body{
    box-shadow: 0 5px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    transition: box-shadow 200ms ease;
}

.QueryGroup .body .leftbar {
    float: left;
    width: 1.5em;
}

.QueryGroup .body .main .content {
    border: 1px solid #ececec;
    border-top: 1px solid rgba(213, 212, 212, 0.48);
    border-left: 0px;
    width:100%;
    border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    -moz-border-radius: 0px 5px 5px 5px;
}

.QueryGroup .body .main .content .orDragAdditional {
    color: #878787;
    font-style: italic;
    margin: 0.9em 0.6em 0.6em 0.6em;
}

.QueryGroup .body .main .content .dragFirst {
    color: #878787;
    font-style: italic;
    margin: 3.2em 3em 1.6em 1.6em;
    padding-left: 0.5em;
}




/* Run Dialog */
.QueryGroup .RunDialogContainer > div {
    padding:0.5em;
}

.QueryGroup .RunDialogContainer .ResultTypes {
    border: 1px solid #ccc;
    height: 100%;
    overflow: auto;
    padding: 0.3em;
}

.QueryGroup .RunDialogContainer .ResultTypes div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#termDateConstraintModal .dateRange{
    display: flex;
}



/* Term Listing */
.TermList span {
    line-height: 1.6em;
    position: relative;
    top: 0.2em;
}

.TermList span.prevquery {
    position: static;
    font-style: italic;
}

.TermList span img {
    vertical-align: text-bottom;
}
.TermList .termOr {
    width: 0.3em;
    display: inline-block;
    text-align: right;
    padding-left: 8px;
    margin-right: 15px;
}
.TermList .actions {
    margin-left: 0.75em;
}
.TermList .actions i {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.35s, margin-left 0.5s;
}
.TermList .concept:hover .actions i {
    opacity: 1;
    margin-left: .3em;
}

.TermList .concept .dateRange{
    color: #7191af;
    line-height: 1.6em;
    position: relative;
    top: 0.2em;
    margin-left: 0.3em;
}

.dropDownSelect {
    color: #007bff;
    background: white;
}

.dropDownSelect:hover {
    background: #007bff;
    color: white;
}



/* === Lab Values Modal === */
#labHelpText{
    margin-bottom: 20px;
    text-align: center;
}

#labFlagValue {
    width: auto;
    max-height: 100px;
    overflow: auto;
}

.labTypeGroup {
    width: 160px;
    margin-right: 15px;
}

.labTypeFlagAndValues {
    display: flex;
    min-height: 100px;
}

#labNumericValueOperator{
    width: 260px;
    margin-bottom: 20px;
}

#labStringValueOperator{
    width: 170px;
    margin-bottom: 20px;
}

.labMain label {
    display: block;
    margin-bottom: 8px;
}

.labMain .input-group-text {
    margin-bottom: 0;
}


#labUnitExcluded{
    color:#900;
    margin-left: 20px
}

#labHeader {
    font-size: 1.0rem;
}

#labValuesModal .modal-dialog {
    min-width: 590px;
}

.labBarMain {
    margin: 10px;
    text-align: center;
    border: 1px solid #000080;
    height: auto;
}

.labBar {
    height: 55px;
    width: 520px;
    display: flex;
    margin: 10px 5px 10px 5px;
}

.labBarItem {
    flex-grow: 1;
    flex-basis: 0;
}

#labUnitsLabel {
    font-style: italic;
    font-weight: bold;
}

.barLink {
    height: 15px;
    cursor: pointer;
}

.barLink:hover {
    opacity: 0.7;
}

.barLink:active {
    border: 1px solid #000080;
}

#termDateConstraintModal .conceptTitle {
    font-weight: 600;
}

#termDateConstraintModal .note {
    margin-top: 1.9em;
    font-size: 0.9em;
}

#termDateConstraintModal .modal-body {
    padding-top: 0.4em;
    padding-left: 2em;
    padding-right: 2em;
}

#termDateConstraintModal .constrainDateLabel {
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}

#termDateConstraintModal .startDateError,
#termDateConstraintModal .endDateError{
    color: #f44336;
    margin-top: 0.2em;
    font-size: 0.89em;
    display: none;
}


/* === General formatting === */
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background: #007bff;
    color: #82a6b2;
}

.hidden {
    display: none;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}

.clear {
    clear: both;
}