.CRC_QS_view {
    position: absolute;
    background: #FFF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 1px rgba(99, 117, 140, 0.28);
    border-top: none;
    overflow: auto;
    padding: 0.4em;
    border-radius: 0 0 3px 3px;
}

.CRC_QS_view .accordion-button{
    padding: 0.2em;
    color: #212529;
    background: none;
    font-size: 0.45em;
    font-weight: 600;
}

.CRC_QS_view td {
    padding: 0.3em;
}

.CRC_QS_view .accordion-item {
    border: none
}

.CRC_QS_view .accordion-body {
    padding: 0.5em;
}

.CRC_QS_view .accordion-header:hover {
    background-color: #ececec;
}

.CRC_QS_view .computeTime {
    margin-left: 0;
    line-height: 16px;
    margin-bottom: 0.5em;
    margin-top: 0.4em;
}

.CRC_QS_view .queryRunningSpinner {
    height: 1.3em;
    width: 1.3em;
    margin-left: 0.3em;
}

.CRC_QS_view .breakdownStatus {
    color: #00dd00;
}

.CRC_QS_view .breakdownValue {
    color: #0000dd;
}

.CRC_QS_view .breakdownLabel {
    font-weight: 700;
    font-size: 1em;
}

.CRC_QS_view #breakdownDetails, .CRC_QS_view #dataExportDetails {
    padding-left: 0.99em;
    margin-bottom: 0.3em;
}

.CRC_QS_view .breakDownHeader{
    font-size: 1.1em;
}

.CRC_QS_view .breakdownResultList {
    margin-left: 0.6em;
    margin-bottom: 0.5em;
}



.info-text-status .status-finished {
    color: #0d6efd;
}
.info-text-status .status-cancelled {
    color: #fd0d6e
}
.info-text-status .status-running,
.info-text-status .status-processing {
    color: #198754;
}

.info-text-status {
    margin-bottom: 1rem;
}




#infoQueryStatusText .status-processing {
    color: #198754;
}

#infoQueryStatusText .status-running {
    color: #198754;
}
#infoQueryStatusText .status-bar {
    width: 60%;
    border: solid 1px;
    height: 12px;
    background: lightgrey;
    margin: 1rem auto;
}

/* query report container styling (outside of the iframe) */
#infoQueryStatusText .status-bar .status-error {
    background: red;
    height: 100%;
    float: left;
}

#infoQueryStatusText .status-bar .status-finished {
    background: lightgreen;
    height: 100%;
    float: left;
}

#infoQueryStatusText .status-bar-label {
    width: 100%;
    text-align: center;
    padding-top: 2em;
    font-weight: bold;
}

#infoQueryStatusText .status-bar-text {
    text-align: center;
}



#infoQueryStatusText .statusButtons {
    float:right;
    margin-left:10px;
}
#infoQueryStatusText .statusButtons button {
    display: none;
}
#infoQueryStatusText .statusButtons.running .cancel {
    display: none;
}
#infoQueryStatusText .statusButtons.cancelled .cancelled {
    display: block;
    cursor: not-allowed;
}

#infoQueryStatusText .statusButtons.done .report {
    display: block;
}

#infoQueryStatusText table {
    width: 400px;
    margin: 2rem auto;
    background-color: #ed9b40;
    color: black;
    text-align: center;
    vertical-align: middle;
}




    /* query report container styling (outside of the iframe) */

#queryReportModal .modal-dialog {
    max-width: 90%;
}

#queryReportModal .modal-content {
    height: 90%;
}

#queryReportModal .modal-body {
    overflow: hidden;
    padding: 0;
}

#queryReportModal .modal.fade.show {
    background: rgba(0,0,0,.6);
}

#queryReportModal #queryReportWindow {
    width: 100%;
    height: 100%;
    overflow: scroll;
}


/* ===================================== */
#breakdownCharts svg text.graphLabel {
    cursor: default;
    text-anchor: end;
}

#breakdownCharts svg text.graphLabel:hover {
    font-weight: bold;
}

#breakdownCharts svg rect.graphbar {
    opacity: 0.60;
    fill: rgb(39, 130, 163);
    transition: opacity 100ms;
}
#breakdownCharts svg rect.graphbar:hover {
    opacity: 1;
    stroke: black;
}

#breakdownCharts svg text.graph-title {
    font-weight: bold;
    font-height: 1.05em;
}

#breakdownCharts svg text.y-label {
    font-weight: bold;
}
