#WKContextMenuInput {
    margin-top: 10px;
}

#WKContextMenuDialog .WK-prompt {
    font-size: 1.1em;
}

#WKContextMenuDialog .modal-form {
    margin: 0px 40px;
}

#WKContextMenuDialog .required-input {
    margin-top: 4px;
    color: #f44336;
    visibility: hidden;
}

#WKContextMenuDialog .required-input .visible{
    visibility: visible;
}
