span.sdxStyleWORK-WRK::before,
span.sdxStyleWORK-XML::before {
    content: " ";
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    top: 3px;
}

span.sdxStyleWORK-WRK.tv-depth-1::before {
    background-image: url(sdx_WORK_root.png);
}

span.sdxStyleWORK-WRK::before {
    background-image: url(sdx_WORK_folder.png);
}

span.sdxStyleWORK-XML::before {
    background-image: url(sdx_WORK_XML.png);
}