.viz-window.viztype-DATAREQUESTSUPER {
    overflow: hidden;
}

.viz-window.viztype-DATAREQUESTSUPER .DataRequest {
    padding: 0rem 2rem;
}

.viz-window.viztype-DATAREQUESTSUPER .requestTypes {
    margin: 0;
}

.viz-window.viztype-DATAREQUESTSUPER td {
    padding: 0.3em;
}
.viz-window.viztype-DATAREQUESTSUPER .breakdownValue {
    border-top: 1px #ccc solid;
}

.viz-window.viztype-DATAREQUESTSUPER .dataExportInfo {
   margin-top: 0.3em;
}

.viz-window.viztype-DATAREQUESTSUPER .dataExportInfoName {
    min-width: 10em;
}

