.viztype-PATIENTCOUNTMAP .patient-map {
    height: 35em;
    width: 100%;
}

.viztype-PATIENTCOUNTMAP ul.zoom-links {
    display: inline-block;
    padding: 0;
    margin: .5rem;
}

.viztype-PATIENTCOUNTMAP ul.zoom-links li { display: inline; }
.viztype-PATIENTCOUNTMAP span.zoom-link {
    white-space: nowrap;
    cursor: pointer;
}
.viztype-ZPATIENTCOUNTMAP span.zoom-link:hover {
    border-bottom: 1px solid;
}

.viztype-PATIENTCOUNTMAP span.zoom-link.selected {
    border-bottom: 1px solid;
}


.viztype-PATIENTCOUNTMAP ul.zoom-links li:after {
    content: " ";
    letter-spacing: 1em;
    background: center center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAAnSURBVBhXY/Dz89MA4sNA/B9Ka4AEYQIwfBgkiCwAxjhVopnppwEApxQqhnyQ+VkAAAAASUVORK5CYII=);
}