<div class="modal fade optionsModal" id="WKContextMenuDialog" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form style="margin: 0px 40px">
                    <div class="form-group row">
                        <div >
                            <div>
                                <span id="WK-ann-label">{{inputLabel}} </span>
                            </div>
                            <input type="text" id="WKContextMenuInput" class="form-control" placeholder="{{placeHolder}}" aria-label="Work item annotation input" aria-describedby="WK-ann-label">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary lab-save" onclick={{onOk}}>Ok</button>
                {{#if onCancel}}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick={{onCancel}}> Cancel </button>
                {{else}}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancel </button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
