:root {
    --text-light: #EEAAAA;
    --text-dark: #887766;

    --text-secondary-light: #2782a3;
    --text-secondary-dark: #2782a3;

    --head-foot-background: #2782a3;
    --head-foot-text: #FFFFFF;
    --head-foot-icons: #FFFFFF;
    --head-foot-icons-hover: #000000;

    --tabs-left-background: #ed9b40;
    --tabs-left-border: rgba(99, 117, 140, 0.28);
    --tabs-right-background: #ccc2b6;
    --tabs-right-border: rgba(99, 117, 140, 0.28);

    --component-border:  rgba(99, 117, 140, 0.28);
    --component-background: #FFFFFF;

    --tabs-text: #000000;
    --tabs-text-active: #000000;
    --tabs-text-hover: #000000;
    --tabs-text-active-hover: #404040;

    --dragdrop-hover-ok: #d1f0ff;

    --splitter: #369;

    /* color of the input form elements when the keyboard focus is on them */
    --focus-border: #8888FF;
    --focus-shadow: rgba(75, 75, 255, .25);
}
