#i2b2TreeviewOntNav, #i2b2TreeviewOntSearch, #i2b2OntSearchStatus {
    background: #FFFFFF;
    border: solid 1px #63758c;
    overflow: auto;
    border-radius: 0 0 3px 3px;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 3.3em;
    left: 0;
    right: 0;
    height: auto;
    border-top: 1px solid rgba(212, 105, 255, 0.18);
}

#i2b2OntSearchStatus {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* TECHNICAL DEBT: Change this when CSS selector :has() is implemented
#i2b2TreeviewOntSearch li:has(.sdxStyleONT-CONCPT.highlight) span.indent {
*/
#i2b2TreeviewOntSearch .search-highlighted {
    font-weight: bold;
}

#i2b2FinderOnt {
    position: absolute;
    top: 0;
    height: 2.9rem;
    border: solid #63758c;
    border-width: 1px 1px 0 1px;
    width: 100%;
    padding: 0.3em 0.8em;
    background: rgba(235, 238, 238, 0.3);
    font-size: 0.98em;
    padding-bottom: 0.7em;
    overflow: auto;
}

#i2b2FinderOnt #searchOptions {
    position: relative;
    align-items: center;
    display: flex;
    height: 100%;
}

#i2b2FinderOnt .searchTermMain{
    flex-grow: 1;
    min-width: 6.5rem;
}


#i2b2FinderOnt #searchFilter{
    padding: 0 0.7rem;
    margin-bottom: -5px;
}

#i2b2FinderOnt #searchFilterText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}


#i2b2FinderOnt #searchActions {
    min-width: 9rem;
    text-align: right;
}


#i2b2FinderOnt #searchActions button:disabled {
    color: #444;
    background: #ccc;
}



#i2b2FinderOnt .form-control{
    margin-top: 0.8em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    box-shadow: none;
    background: transparent;
}

#i2b2FinderOnt button{
    display: inline-block;
}

button.invert{
    color: #0d6efd;
    background: #FFFFFF;
}

button.invert:hover{
    opacity: 0.7;
}

.hidden{
    display: none;
}

#i2b2FinderOnt .form-select-sm{
    font-size: 0.84em;
}

#i2b2FinderOnt .btn-sm{
    font-size: 0.89em;
}

#i2b2FinderOnt .form-control-sm{
    font-size: 1em;
    padding-left: 0.1em;
}

.form-check-input {
    border: 1px solid black;
    margin-top: 2px;
}

.form-check-inline {
    margin-top: 5px;
}

.navbar-nav{
    border: 1px solid #ced4da;
    border-radius: 5px 5px 5px 5px;
    font-size: 0.9em;
    background-color: #FFFFFF;
}

#i2b2FinderOnt .nav-link{
    color: #212529;
    margin-right: 0.2em;
}


#i2b2FinderOnt .dropdown-menu{
    font-size: 1em;
    position: fixed !important;
}

#i2b2FinderOnt .submenu{
    max-height: 18em;
    overflow-y: auto;
}

#i2b2FinderOnt .search{
    margin-right: 0.5em;
}

@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        top: -0.2em;
        padding-right: 0.2em;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu > li:hover {
        background-color: #f1f1f1
    }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu{
        margin-left:0.7rem;
        margin-right:0.7rem;
        margin-bottom: .5rem;
    }
}
/* ============ small devices .end// ============ */

.highlight-menu-item {
    background-color: #f1f1f1;
}

.centerText{
    text-align: center;
}

#searchTermError{
    color: red;
    font-size: 0.85em;
    width: 22.4em;
}

#searchTerm .searchBtn{
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    font-size: 1.4em !important;
    z-index: 10;
}

#searchTerm .searchBtn:hover{
    border-radius: 3px;
}

#searchTerm .searchActions {
    margin-top: 12px;
}

.clearIcon {
    margin-left: -43px !important;
    top: 10px;
    font-size: 1.4em;
    border: none;
    z-index: 6 !important;
}

.invisible {
    visibility: hidden;
}


.tooltip-inner {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #c8cdce;
}