


span.sdxStyleONT-CONCPT::before,
span.sdxStyleONT-MODIFIER::before {
    content: " ";
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    top: 3px;
}


/* ========================================== */
span.sdxStyleONT-CONCPT::before {
    background-image: url(sdx_ONT_CONCPT_root.gif);
}
span.sdxStyleONT-CONCPT.tvRoot::before {
    background-image: url(sdx_ONT_CONCPT_root.gif);
}
span.sdxStyleONT-CONCPT.tvBranch::before {
    background-image: url(sdx_ONT_CONCPT_branch.gif);
}
span.sdxStyleONT-CONCPT.tvLeaf::before {
    background-image: url(sdx_ONT_CONCPT_leaf.gif);
}



span.sdxStyleONT-MODIFIER::before {
    background-image: url(sdx_ONT_MODIFIER_root.gif);
}

