/* Set a style for all buttons */
#PM-login-modal button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#PM-login-modal button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
#PM-login-modal .imgcontainer {
    text-align: center;
    margin: 14px 0 0 0;
    position: relative;
}

#PM-login-modal img.logo {
    width: 70%;
}

#PM-login-modal .container {
    padding: 16px;
}

#PM-login-modal .classic {
    padding: 15px 16px 16px 0px;
}


/* The Modal (background) */
#PM-login-modal.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    display: block !important;
}

/* Modal Content/Box */
#PM-login-modal .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
    min-width: 300px;
    overflow: hidden;
}

#PM-login-modal .sso-button:hover,
#PM-login-modal .sso-button:focus {
    background-color: #e5e5e5;
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

#PM-login-modal .sso-button:hover {
    box-shadow: 0 0 0 .25rem #CCCCCC;
}





/* Login password box (for disabling of password warning) */
@font-face {
    font-family: 'password' ;
    font-display: block;
    src: url('../../../../../assets/fonts/password.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../../../../assets/fonts/password.woff') format('woff'); /* Pretty Modern Browsers */
}

#PM-login-modal #loginpass {
    font-family: password, sans-serif;
}