/* Set a style for all buttons */
#PM-login-modal button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#PM-login-modal button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
#PM-login-modal .imgcontainer {
    text-align: center;
    margin: 14px 0 0 0;
    position: relative;
}

#PM-login-modal img.logo {
    width: 80%;
}

#PM-login-modal .container {
    padding: 16px;
}

#PM-login-modal .footer div {
    font-size: 0.85rem;
}



/* The Modal (background) */
#PM-login-modal.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    display: block !important;
}

/* Modal Content/Box */
#PM-login-modal .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
    min-width: 300px;
    overflow: hidden;
}