#projectSelectionModal #projectSelectionDetails {
    border: 2px solid #93b0ce;
    height: 9.5em;
    padding: 0;
    overflow: auto;
}

#projectSelectionModal #projectSelectionDetails table {
    width: 100%;
    border-spacing: 0px;
    table-layout: fixed;
}

#projectSelectionModal #projectSelectionDetails td:first-child {
    background: rgba(229, 225, 225, 0.49);
    border-left: 0;
}

#projectSelectionModal #projectSelectionDetails td{
    border-bottom: 1px solid #93b0ce;
    border-left: 1px solid #93b0ce;
    padding: 0.5em;
    font-size: 0.92em;
    width: 2em;
    word-wrap: break-word;
}

#projectSelectionModal #projectSelectionDetails .noDetails{
    width: 17em;
    margin: auto;
    padding-top: 0.8em;
}

.changePasswordModal .row{
    margin-bottom: 0.9em;
}

.changePasswordModal .pwd-eye{
    /*color: #007bff;*/
}

.changePasswordModal .showPassword{
    display: none;
}

.changePasswordModal .errorMsg {
    color: #f44336;
}

.changePasswordModal .error {
    border: 2px solid #f44336;
}

.changePasswordModal .pwd-ins .list-group-item {
    border: none;
    padding: 0;
    font-size: 0.78em;
    color: #4f6d96;
}

.changePasswordModal .eye-btn {
    border: 1px solid #ced4da;
}
