/* Count Module CSS */

.QueryStatusComponent.frameless.viztype-COUNT {
    overflow:hidden;
    border: none !important;
}

.QueryStatusComponent.viztype-COUNT .count-container {
    width: 400px;
    background-color: #ed9b40;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.QueryStatusComponent.viztype-COUNT .count-container div {
    padding: 0.3rem;
}

.QueryStatusComponent.viztype-COUNT .count-value {
    font-size: 45px;
    line-height: 45px;
}

.QueryStatusComponent.viztype-COUNT .count-sites {
    padding: 0 0 0.3rem 0;
    font-style: italic;
}

@media print {
    .QueryStatusComponent.viztype-COUNT .count-container {
        border: 1px solid;
    }
}