.viztype-ZIPCODEMAP .map-target {
    height: 600px;
    width: 100%;
}

.viztype-ZIPCODEMAP .zoom-links-label {
    font-weight: bold;
    margin-left: .5rem;
}

.viztype-ZIPCODEMAP ul.zoom-links {
    display: inline-block;
    padding: 0;
    margin: .5rem;
}

.viztype-ZIPCODEMAP ul.zoom-links li { display: inline; }
.viztype-ZIPCODEMAP span.zoom-link {
    white-space: nowrap;
    cursor: pointer;
}
.viztype-ZIPCODEMAP span.zoom-link:hover {
    border-bottom: 1px solid;
}

.viztype-ZIPCODEMAP span.zoom-link.selected {
    border-bottom: 1px solid;
}


.viztype-ZIPCODEMAP ul.zoom-links li:after {
    content: " ";
    letter-spacing: 1em;
    background: center center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAAnSURBVBhXY/Dz89MA4sNA/B9Ka4AEYQIwfBgkiCwAxjhVopnppwEApxQqhnyQ+VkAAAAASUVORK5CYII=);
}


.viztype-ZIPCODEMAP div.hoverinfo-box,
.viztype-ZIPCODEMAP div.legend-box {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.viztype-ZIPCODEMAP div.hoverinfo-box {
    min-width: 140px;
}
.viztype-ZIPCODEMAP div.legend-box {
    min-width: 100px;
}

.viztype-ZIPCODEMAP div.hoverinfo-box h4,
.viztype-ZIPCODEMAP div.legend-box h4 {
    font: 16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 0 5px;
    color: #777;
}

.viztype-ZIPCODEMAP div.legend-box i {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    top: .15rem;
    margin-right: .3rem;
    outline: 1px solid #000;
    outline-offset: -1px;
}

.viztype-ZIPCODEMAP div.legend-box *.selected i {
    outline: 3px solid #000;
    outline-offset: -3px;
}


.viztype-ZIPCODEMAP .leaflet-attribution-flag {
    display: none !important;
}



