<div class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <span class="modal-title">Constrain <span class="conceptTitle">{{this.concept}}</span> by Date Range</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div>
                    <div>
                        <label for="conceptConstrainDateStart" class="constrainDateLabel">From</label>
                        <div class="dateRange">
                            <input id="conceptConstrainDateStart" class="DateStart form-control" placeholder="MM/DD/YYYY" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="{{this.dateStart}}"/>
                            <button class="btn btn-outline-secondary border-0 refreshStartDate"><i class="bi bi-arrow-clockwise"></i></button>
                        </div>
                        <div class="startDateError">Invalid Date</div>
                        <label for="conceptConstrainDateEnd" class="constrainDateLabel">To</label>
                        <div class="dateRange">
                            <input id="conceptConstrainDateEnd" class="DateEnd form-control"  placeholder="MM/DD/YYYY" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="{{this.dateEnd}}"/>
                            <button class="btn btn-outline-secondary border-0 refreshEndDate" onclick="event"><i class="bi bi-arrow-clockwise"></i></button>
                        </div>
                        <div class="endDateError">Invalid Date</div>
                    </div>
                    <div class="note">
                        Date constraints do not apply on Demographics data, Patient Sets and Previous Queries.
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary i2b2-save">Ok</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>