<div class="event toHide" data-eventIdx="{{index}}">
    <div class="EventLbl {{#ifCond index '==' 0}}first{{/ifCond}}">
        <div>Event {{increment  index}}</div>
        <div class="actions">
            <i class="bi bi-x-circle delete" title="Remove Event"></i>
        </div>
    </div>
    <div class="TermList clear"></div>
    <div class="orDragAdditional">or drag additional concepts</div>
    <div class="required hidden">at least 1 concept is required</div>
    <div class="DateOccursLbl">SET DATE RANGE OR MULTIPLE OCCURRENCES <i class="bi bi-chevron-down"></i></div>
    <div class="DateOccursBody expander hidden">
        <div class="d-flex flex-lg-column xxl-flex-row">
            <div class="d-flex flex-row px-3 mb-4">
                <span class="d-block align-self-end me-2">Concepts must occur between</span>
                <div class="dateRange align-self-end">
                    <div >
                        <input class="datepicker DateStart form-control" placeholder="MM/DD/YYYY" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="{{this.dateRange.start}}" />
                    </div>
                    <div style="max-width: 3em;">
                        <button class="btn btn-outline-secondary border-0 refreshStartDate"><i class="bi bi-arrow-clockwise"></i></button>
                    </div>
                </div>            
                <span class="d-block align-self-end mx-2">and</span>
                <div class="dateRange align-self-end">
                    <div>
                        <input class="datepicker DateEnd form-control" placeholder="MM/DD/YYYY" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="{{this.dateRange.end}}"/>
                    </div>
                    <div style="max-width: 3em;">
                        <button class="btn btn-outline-secondary border-0 refreshEndDate"><i class="bi bi-arrow-clockwise"></i></button>
                    </div>                   
                </div>                
            </div>
            <div class="d-flex flex-row px-3 mb-4 xxl-flex-pad">
                <span class="d-block align-self-end me-2">and concepts must occur</span>
                <div class="align-self-end">
                    <input class="OccursCount form-control" placeholder="1" value="{{this.instances}}" onchange="i2b2.CRC.view.QS.clearStatus();"/>
                </div>
                <span class="d-block align-self-end mx-2">or more time(s).</span>
            </div>
        </div>
    </div>
    <!-- When display -->
    <div class="DateRangeLbl" >SET DATE RANGE <i class="bi bi-chevron-down"></i></div>
    <div class="DateRangeBody expander hidden">     
        <div class="d-flex flex-row px-3 mb-4">
            <span class="d-block align-self-end me-2">Concepts must occur between</span>
            <div style="width:11em;">
                <input class="datepicker DateRangeStart" placeholder="MM/DD/YYYY" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="{{this.dateRange.start}}" />
            </div>
            <span class="d-block align-self-end mx-2">and</span>
            <div style="width:11em;">
                <input class="datepicker DateRangeEnd" placeholder="MM/DD/YYYY" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="{{this.dateRange.end}}" />
            </div>
        </div>       
    </div>
</div>