<div class="SequenceBar eventLink" data-event-Link-Idx="{{index}}">
    <div>
        <span>the</span>
        <select class="joinColumn spacing">
            {{#select eventLink.joinColumn1}}
            <option value="STARTDATE">start of</option>
            <option value="ENDDATE">end of</option>
            {{/select}}
        </select>
        <select class="aggregateOp spacing">
            {{#select eventLink.aggregateOperator1}}
            <option value="FIRST">the first</option>
            <option value="LAST">the last</option>
            <option value="ANY">any</option>
        {{/select}}
        </select>
        <span>occurrence of Event {{increment  index}}</span>
        <select class="occurs spacing">
            {{#select eventLink.operator}}
            <option value="LESS">occurs before</option>
            <option value="LESSEQUAL">occurs on or before</option>
            <option value="EQUAL">occurs simultaneously with</option>
            {{/select}}
        </select>
        <span>the</span>
        <select class="joinColumn spacing">
            {{#select eventLink.joinColumn2}}
            <option value="STARTDATE">start of</option>
            <option value="ENDDATE">end of</option>
            {{/select}}
        </select>
        <select class="aggregateOp spacing">
            {{#select eventLink.aggregateOperator2}}
            <option value="FIRST">the first</option>
            <option value="LAST">the last</option>
            <option value="ANY">any</option>
        {{/select}}
        </select>
        <span>occurrence of Event {{increment  index inc=2}}</span>
    </div>
    <div>
        {{#if eventLink.[0].operator}}
            {{> EventLinkTimeSpan index = 0 label= "by" checked=true}}
        {{else}}
            {{> EventLinkTimeSpan index = 0 label= "by" checked=false}}
        {{/if}}

        {{#if eventLink.[1].operator}}
            {{> EventLinkTimeSpan index = 1 label= "and" checked=true}}
        {{else}}
            {{> EventLinkTimeSpan index = 1 label= "and" checked=false}}
        {{/if}}
    </div>
</div>