<div class="timeSpan" data-time-Span-Idx={{index}}>
    <div class="form-check form-check-inline">
        <input class="form-check-input check{{increment  index}}" type="checkbox" onclick="javascript:this.blur();i2b2.CRC.view.QT.toggleTimeSpan(this);" {{checked}}/>
        <label class="form-check-label">{{label}}</label>
    </div>
    <select class=" form-select form-select-sm timeSpanOp timeSpanField spacing op{{increment  index}}" onchange="javascript:this.blur();i2b2.CRC.view.QT.updateTimeSpanOperator(this);" {{disabled}}>
        {{#select timeSpan.operator}}
        <option value="GREATER">&#62;</option>
        <option value="GREATEREQUAL">&ge;</option>
        <option value="EQUAL">&#61;</option>
        <option value="LESSEQUAL"> &leq;</option>
        <option value="LESS">&#60;</option>
        {{/select}}
    </select>
    <div class="input-group-main">
        <div class="input-group">
            <input class="form-control form-control-sm timeSpanValue timeSpanField spacing incInt{{increment  index}} " type="text" onkeyup="i2b2.CRC.view.QT.updateTimeSpanValue(this);" value="{{timeSpan.value}}" {{disabled}}/>
            <span class="timeSpanError w-100 vhidden">required</span>
        </div>
    </div>
    <select class="form-select form-select-sm timeSpanUnit timeSpanField spacing time{{increment  index}}" onchange="javascript:this.blur();i2b2.CRC.view.QT.updateTimeSpanUnit(this);" {{disabled}}>
        {{#select timeSpan.unit}}
        <option value="HOUR">hour(s)</option>
        <option value="DAY">day(s)</option>
        <option value="MONTH">month(s)</option>
        <option value="YEAR">year(s)</option>
        {{/select}}
    </select>
</div>