{{#if checked }}
    <span class="timeSpan" data-time-Span-Idx={{index}}>
        <input type="checkbox" onclick="javascript:this.blur();i2b2.CRC.view.QT.toggleTimeSpan(this);" checked/>
        <span>{{label}}</span>
        <select class="timeSpanOp timeSpanField spacing" onchange="javascript:this.blur();i2b2.CRC.view.QT.updateTimeSpanOperator(this);">
            {{#select timeSpan.operator}}
            <option value="GREATER">&#62;</option>
            <option value="GREATEREQUAL">&ge;</option>
            <option value="EQUAL">&#61;</option>
            <option value="LESSEQUAL"> &leq;</option>
            <option value="LESS">&#60;</option>
            {{/select}}
        </select>
        <input class="timeSpanValue timeSpanField spacing" type="number" onchange="javascript:this.blur();i2b2.CRC.view.QT.updateTimeSpanValue(this);" value="{{timeSpan.value}}"/>
        <select class="timeSpanUnit timeSpanField spacing" onchange="javascript:this.blur();i2b2.CRC.view.QT.updateTimeSpanUnit(this);">
            {{#select timeSpan.unit}}
            <option value="HOUR">hour(s)</option>
            <option value="DAY">day(s)</option>
            <option value="MONTH">month(s)</option>
            <option value="YEAR">year(s)</option>
            {{/select}}
        </select>
    </span>
{{else}}
    <span class="timeSpan" data-time-Span-Idx={{index}}>
        <input type="checkbox" onclick="javascript:this.blur();i2b2.CRC.view.QT.toggleTimeSpan(this)"/>
        <span>{{label}}</span>
        <select class="timeSpanOp timeSpanField spacing" onchange="javascript:this.blur();i2b2.CRC.view.QT.updateTimeSpanOperator(this);" data-timeSpanId={{index}} disabled>
            {{#select timeSpan.operator}}
            <option value="GREATER">&#62;</option>
            <option value="GREATEREQUAL">&ge;</option>
            <option value="EQUAL">&#61;</option>
            <option value="LESSEQUAL"> &leq;</option>
            <option value="LESS">&#60;</option>
            {{/select}}
        </select>
        <input class="timeSpanValue timeSpanField spacing" type="number" onchange="javascript:this.blur();i2b2.CRC.view.QT.updateTimeSpanValue(this);" value="{{timeSpans.value}}" disabled/>
        <select class="timeSpanUnit timeSpanField spacing" onchange="javascript:this.blur();i2b2.CRC.view.QT.updateTimeSpanUnit(this);" disabled>
            {{#select timeSpan.unit}}
            <option value="HOUR">hour(s)</option>
            <option value="DAY">day(s)</option>
            <option value="MONTH">month(s)</option>
            <option value="YEAR">year(s)</option>
            {{/select}}
        </select>
    </span>

{{/if}}