<div class="QueryGroup">
    <div class="topbar">
        <div class="JoinText">and</div>
        <div class="with"><i class="bi bi-circle nosel"></i><i class="bi bi-circle-fill sel"></i>with</div>
        <div class="without"><i class="bi bi-circle nosel"></i><i class="bi bi-circle-fill sel"></i>without</div>
        <div class="when"><i class="bi bi-circle nosel"></i><i class="bi bi-circle-fill sel"></i>when</div>
        <div class="qgclose"><i class="bi bi-x-lg" title="remove query group"></i></div>
    </div>
    <div class="body">
        <div class="leftbar"></div>
        <div class="main">
            <div class="content">
                {{#each events}}
                {{> Event index = @index group = (lookup @root.events @index)}}
                <!-- event relationship -->
                {{> EventLink index = @index eventLink = (lookup @root.eventLinks @index)}}
                {{/each}}
            </div>
            <div class="addEvent">
                <button type="button" class="btn btn-sm btn-secondary" onclick="javascript:this.blur();i2b2.CRC.view.QT.addEvent();"><i class="bi bi-plus-circle-fill"></i>ADD EVENT</button>
            </div>
        </div>
    </div>
</div>
