<div id="infoQueryStatusText" class="StatusBoxText" oncontextmenu="return false">
    <div style="clear:both;">
        {{#if breakdowns.name}}
            <div style="clear:both;"></div>
            <div style="float:left;">
                <div class="info-text-name"><span style="font-weight:bold;">Query Name:</span> <span>{{breakdowns.name}}</span></div>
                <div class="info-text-status"><span style="font-weight:bold;">Query Status:</span>
                {{#if breakdowns.isCancelled}}
                    <span class="status-cancelled">Cancelled </span>
                {{else if breakdowns.isProcessing}}
                    <span class="status-processing">Processing</span>
                {{else if breakdowns.isRunning}}
                  <span class="status-running">Running</span>
                {{else}}
                    <span class="status-finished">Finished</span>
                {{/if}}
                </div>
            </div>

            <div class="statusButtons running">
                <button type="button" class="btn btn-primary btn-sm report" onclick="i2b2.CRC.view.QT.showQueryReport();">View Report</button>
            </div>
            {{#if breakdowns.runDuration}}
                    <div style="float:right">[{{breakdowns.runDuration}} &nbsp; secs]</div>
            {{/if}}
            {{#if breakdowns.computeTime}}
                    <div style="clear:both;"></div>
                    <div class="computeTime"><span style="font-weight:bold;">Compute Time: </span>{{breakdowns.computeTime}} &nbsp;secs</div>
            {{/if}}
            <div style="clear:both;"></div>
        {{/if}}

        {{#if breakdowns.patientCount.title}}
        <table style="width: 400px; margin-left: auto; margin-right: auto;">
            <tr style="background-color: #ed9b40">
                <td style="color: black; text-align: center; vertical-align: middle;">
                    {{breakdowns.patientCount.title}}
                </td>
            </tr>
            <tr style="background-color: #ed9b40">
                <td style="color: black; text-align: center; vertical-align: middle; font-size: 45px">
                    {{breakdowns.patientCount.value}}
                </td>
            </tr>
            <tr style="background-color: white">
                <td style="color: red; text-align: center; vertical-align: middle;">&nbsp</td>
            </tr>
        </table>
        {{/if}}
    </div>
</div>