<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Query Report</title>
  <link rel="stylesheet" href="js-i2b2/cells/CRC/assets/QueryReport.css">
  <link rel="stylesheet" href="js-ext/c3/0.7.20/css/c3.min.css">
</head>
<body>
<h1 class="title">i2b2 Query Report</h1>
The query entitled "{{name}}" submitted on <span class="no-break">{{submittedAt}}</span>, was successfully completed on <span class="no-break">{{completedAt}}</span>.
This query was performed by <span class="no-break">"{{submittedBy}}"</span>.
The search was completed in {{runDuration}} seconds.


<h2 class="sub-title">Query Definition</h2>
<p class="temporal-constraint">Temporal Constraint: {{temporalMode}}</p>

<div class="groups-container">
  {{#each panels}}
  <div class="panel-definition">
    {{#each this.items}}
      <div class="item-container">
        <div class="item-title"><img src="{{this.moreInfo.renderData.iconImg}}"/> {{this.moreInfo.renderData.title}}</div>
        <div class="item-discript">{{this.moreInfo.renderData.moreDescriptMinor}}</div>
        <div class="item-timing">
          {{#ifCond this.timing "==" "ANY"}}
          Independent of Visit
          {{/ifCond}}
          {{#ifCond this.timing "==" "SAMEVISIT"}}
          Occurs in Same Encounter
          {{/ifCond}}
        </div>
        <div class="item-dates">From {{this.timingFrom}} to {{this.timingTo}}</div>
        <div class="item-occurs"># of times an item is recorded is >= {{this.occurs}}</div>
      </div>
      {{#unless @last}}<div class="joiner or">OR</div>{{/unless}}
    {{/each}}
  </div>
  {{#unless @last}}<div class="joiner and">AND</div>{{/unless}}
  {{/each}}
</div>

<h2 class="sub-title">Query Results</h2>

{{#each reports}}
<div class="results-group">
  <div class="results-chart">
    {{{this.chart}}}
  </div>
  <div class="results-graph">
    {{{this.graph}}}
  </div>
</div>
{{/each}}

</body>
</html>