<div class="QueryGroup">
    <div class="topbar">
        <div class="JoinText">and</div>
        <div class="with"><i class="bi bi-circle nosel"></i><i class="bi bi-circle-fill sel"></i>with</div>
        <div class="without"><i class="bi bi-circle nosel"></i><i class="bi bi-circle-fill sel"></i>without</div>
        <div class="when"><i class="bi bi-circle nosel"></i><i class="bi bi-circle-fill sel"></i>when</div>
        <div class="qgclose"><i class="bi bi-x-lg" title="remove query group"></i></div>
    </div>
    <div class="body">
        <div class="leftbar"></div>
        <div class="main">
            <div class="content">
                {{#each events}}
                <div class="event toHide" data-eventIdx="{{@index}}">
                    <div class="EventLbl {{#ifCond eventIndex '==' 1}}first{{/ifCond}}">
                        <div>Event {{eventIndex}}</div>
                        <i class="bi bi-stopwatch"></i>
                    </div>
                    <div class="TermList clear"></div>
                    <div class="orDragAdditional">or drag additional concepts</div>
                    <div class="DateOccursLbl">SET DATE RANGE OR MULTIPLE OCCURRENCES <i class="bi bi-chevron-down"></i></div>
                    <div class="DateOccursBody expander hidden">
                        <div style="float:left; width:50%;">
                            <div style="width:16em; margin:auto; position:relative;">
                                <div style="font-size: 0.8em;">Concepts must occur between</div>
                                <div class="dateRange">
                                    <div >
                                        <input class="datepicker DateStart form-control" placeholder="MM/DD/YYYY" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="{{this.events.0.dateRange.start}}" />
                                    </div>
                                    <div style="max-width: 3em;">
                                        <button class="btn btn-outline-secondary border-0 refreshStartDate"><i class="bi bi-arrow-clockwise"></i></button>
                                    </div>
                                </div>
                                <div style="font-size: 0.8em;">and</div>
                                <div class="dateRange">
                                    <div >
                                        <input class="datepicker DateEnd form-control" placeholder="MM/DD/YYYY" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="{{this.events.0.dateRange.end}}"/>
                                    </div>
                                    <div style="max-width: 3em;">
                                        <button class="btn btn-outline-secondary border-0 refreshEndDate"><i class="bi bi-arrow-clockwise"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="float:left; width:50%">
                            <div>
                                <div style="font-size: 0.8em;">Concepts must occur</div>
                                <div>
                                    <input class="OccursCount form-control" placeholder="1" value="{{this.instances}}" onchange="i2b2.CRC.view.QS.clearStatus();"/>
                                </div>
                                <div style="font-size: 0.8em;">or more time(s)</div>

                            </div>
                        </div>
                    </div>
                    <!-- When display -->
                    <div class="DateRangeLbl" >SET DATE RANGE <i class="bi bi-chevron-down"></i></div>
                    <div class="DateRangeBody expander hidden">
                        <div style="float:left; width:50%; text-align:center; display:flex; padding:10px 0px">
                            <div style="width:11em; margin:auto; position:relative; text-align:center; ">
                                <div style="font-size: 0.8em;">Concepts must occur between</div>
                                <div style="width:11em;">
                                    <input class="datepicker DateRangeStart" placeholder="MM/DD/YYYY" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="{{this.events.0.dateRange.start}}" />
                                </div>
                                <div style="font-size: 0.8em;">and</div>
                                <div style="width:11em;">
                                    <input class="datepicker DateRangeEnd" placeholder="MM/DD/YYYY" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" value="{{this.events.0.dateRange.end}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- event relationship -->
                {{> EventLink index = @index eventLink = (lookup @root.eventLinks @index)}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
