{{#if dataExport.resultTable}}
<div class="accordion">
    <div class="accordion-item">
        <div class="accordion-header">
            <button class="accordion-button breakDownHeader" type="button" data-bs-toggle="collapse" data-bs-target="#dataExportDetails" aria-expanded="true">
                Data Export Details
            </button>
        </div>

        <div id="dataExportDetails" data-bs-toggle="collapse" class="accordion-collapse collapse show">
            {{#each dataExport.resultTable}}
            <div>
                <label class="breakdownLabel" id="dataExportResultStatus{{@index}}"> {{this.title}} </label>
                {{#if this.statusMessage}}
                <div style="float: right">
                    {{#ifCond this.statusMessage '===' "ERROR"}}
                        <span class="dataExportStatus status-error">{{this.statusMessage}}</span>
                    {{/ifCond}}
                    {{#ifCond this.statusMessage '!==' "ERROR"}}
                        <span class="dataExportStatus">{{this.statusMessage}}</span>
                    {{/ifCond}}
                </div>
                {{/if}}
                <div id="dataExportCollapse{{@index}}" class="breakdownResultList" aria-labelledby="dataExportResultStatus{{@index}}">
                    <div>
                        <table>
                            {{#each this.result}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td class="breakdownValue">
                                    {{#if this.display}}
                                    {{{this.display}}}
                                    {{else}}
                                    {{{this.value}}}
                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/if}}


