<div id="infoQueryStatusText" class="StatusBoxText" oncontextmenu="return false">
    <div style="clear:both;">
        {{#if breakdowns.name}}
            {{#if breakdowns.isProcessing}}
                <div style="clear:both;"></div><div style="float:left; font-weight:bold">Processing Query: {{breakdowns.name}} </div>
            {{else if breakdowns.isRunning}}
                <div style="clear:both;"></div><div style="float:left; font-weight:bold">Running Query: {{breakdowns.name}} </div>
            {{else}}
                <div style="clear:both;"></div><div style="float:left; font-weight:bold">Finished Query: {{breakdowns.name}} </div>
            {{/if}}

        <div class="statusButtons running">
            <button type="button" class="btn btn-primary btn-sm report" onclick="i2b2.CRC.view.QT.showQueryReport();">View Report</button>
            <!-- must use "onmousedown" for cancel button because of the rerendering rate of this template during the query run/polling period -->
            <button type="button" class="btn btn-danger btn-sm cancel" onmousedown="i2b2.CRC.ctrlr.QR.doAbortQuery();">Cancel Query</button>
            <button type="button" class="btn btn-danger btn-sm cancelled">Query Cancelled</button>
        </div>
        {{#if breakdowns.runDuration}}
                <div style="float:right">[{{breakdowns.runDuration}} &nbsp; secs]</div>
            {{/if}}
        {{#if breakdowns.computeTime}}
                <div style="clear:both;"></div>
                <div class="computeTime">Compute Time: {{breakdowns.computeTime}} &nbsp;secs</div>
            {{/if}}
            <div style="clear:both;"></div>
        {{/if}}

        {{#if breakdowns.patientCount.title}}
        <table style="width: 400px; margin-left: auto; margin-right: auto;">
            <tr style="background-color: #ed9b40">
                <td style="color: black; text-align: center; vertical-align: middle;">
                    {{breakdowns.patientCount.title}}
                </td>
            </tr>
            <tr style="background-color: #ed9b40">
                <td style="color: black; text-align: center; vertical-align: middle; font-size: 45px">
                    {{breakdowns.patientCount.value}}
                </td>
            </tr>
            <tr style="background-color: white">
                <td style="color: red; text-align: center; vertical-align: middle;">&nbsp</td>
            </tr>
        </table>
        {{/if}}
    </div>
</div>